$logoSize: 250px;
$logoFontSize: $logoSize - 80px;

$logoColor: #5C5C5C;
$color: #FFFFFF;

:host {
  display: block;
}

a {
  text-decoration: none;
}

#logo {
  width: $logoSize;
  height: $logoSize;
  text-align: center;
  background: $color;

  &:hover {
    background: $logoColor;
  }

  i {
    width: 100%;
    height: 100%;
    line-height: $logoSize;
    font-size: $logoFontSize;
    color: $logoColor;

    &:hover {
      color: $color;
    }
  }
}
