$headerColor: #62CFFF;
$otherColor: #F6F6F6;

body {
  background: $otherColor;
  font-family: 'RobotoDraft', sans-serif;
}

#intro {
  margin: 10px;
  padding: 5px 20px;
  background-color: #FFFF87;

  border-radius: 15px;

  span {
    color: $headerColor;
  }
}

core-toolbar {
  background-color: $headerColor;
  color: $otherColor;
  font-weight: 300;
  font-size: 30px;

  &[data-smallScreen=true] {
    font-size: 20px;
  }
}

profile-badge-list {
  margin: 0 auto;
  width: (230px + 6px) * 2;

  &.small-screen {
    width: 100%;
  }
}
