$headerColor: #62CFFF;
$otherColor: #F6F6F6;

body {
  background: $otherColor;
  font-family: 'RobotoDraft', sans-serif;
}

core-toolbar {
  background-color: $headerColor;
  color: $otherColor;

  h2 {
    font-weight: 300;
  }
}

profile-badge-list {
  margin-left: auto;
  margin-right: auto;
  width: (250px * 2) + (10px * 4);
  padding: 40px 20px;
}
